#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.pageTitle{
  font-size:4rem;
  text-transform:uppercase;
  color:red;
}
.movieDisplay{
  width:85vw;
  max-width:750px;
}

.movieName{
  font-size:3rem;
}
.flexbox{
  display:flex;
}