#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.flexbox{
  display:flex;
}
.movieInfo{
  list-style:none;
}
.movieInfo li{
  border-bottom:1px solid white;
  line-height:2em;
}